.bg-header {
    background: linear-gradient(90deg, #c45791 30%, #6e48bf 100%)
}
.bg-danger {
    background: linear-gradient(90deg, #dc3545 30%, #6e48bf 100%)
}
.bg-warning {
    background: linear-gradient(90deg, #c69500 30%, #6e48bf 100%)
}
.bg-primary {
    background: linear-gradient(90deg, #3699FF 30%, #6e48bf 100%)
}
