<!-- begin:Table -->
<div class="card card-custom gutter-b">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">
        {{ digitalMagazineId ? "Edit" : "Add" }} Digital Magazine
      </h3>
    </div>
  </div>
  <div class="card-body">
    <form novalidate #digitalMagazineForm="ngForm">
      <div class="form-group">
        <input
          class="form-control"
          type="text"
          name="title"
          #title="ngModel"
          placeholder="Digital Magazine Name"
          required
          [(ngModel)]="digitalMagazineFormFields.title"
        />
        <ng-container
          [ngTemplateOutlet]="formError"
          [ngTemplateOutletContext]="{
            validation: 'required',
            message: 'Digital Magazine Name is required',
            control: title
          }"
        ></ng-container>
      </div>

      <div class="form-group">
        <textarea
          class="form-control"
          rows="14"
          name="description"
          #description="ngModel"
          placeholder="Description"
          required
          [(ngModel)]="digitalMagazineFormFields.description"
        ></textarea>
        <ng-container
          [ngTemplateOutlet]="formError"
          [ngTemplateOutletContext]="{
            validation: 'required',
            message: 'Digital Magazine Description is required',
            control: description
          }"
        ></ng-container>
      </div>
      <div class="form-group">
        <div class="custom-file">
          <input
            type="file"
            class="custom-file-input"
            id="customFile"
            name="thumbnailImage"
            #thumbnailImage="ngModel"
            [(ngModel)]="thumbnailImages"
            [accept]="supportedImageFiles"
            [required]="!digitalMagazineId"
            (change)="onChangeThumbnailFile($event.target.files)"
          />
          <label class="custom-file-label" for="customFile"
            >Choose Thumbnail Image
          </label>
        </div>
        <ng-container
          [ngTemplateOutlet]="formError"
          [ngTemplateOutletContext]="{
            validation: 'required',
            message: 'Thumbnail Image is required',
            control: thumbnailImage
          }"
        ></ng-container>
      </div>
      <div class="form-group">
        <div class="custom-file">
          <input
            type="file"
            class="custom-file-input"
            id="customFile"
            name="magazinePDF"
            #magazinePDF="ngModel"
            [(ngModel)]="magazinePDFs"
            [accept]="supportedFiles"
            [required]="!digitalMagazineId"
            (change)="onChangeMagazineFile($event.target.files)"
          />
          <label class="custom-file-label" for="customFile"
            >Choose magazine PDF</label
          >
        </div>
        <ng-container
          [ngTemplateOutlet]="formError"
          [ngTemplateOutletContext]="{
            validation: 'required',
            message: 'Magazine PDF is required',
            control: magazinePDF
          }"
        ></ng-container>
      </div>
      <div class="form-group">
        <button
          class="btn btn-primary"
          (click)="onClickSaveCategory(digitalMagazineForm)"
          type="submit"
        >
          {{ digitalMagazineId ? "Edit" : "Add" }} Digital Magazine
        </button>
      </div>
    </form>
  </div>
</div>

<ng-template
  #formError
  let-control="control"
  let-message="message"
  let-validation="validation"
>
  <ng-container
    *ngIf="
      (digitalMagazineForm.submitted || control.dirty || control.touched) &&
      control.hasError(validation)
    "
  >
    <div class="fv-plugins-message-container">
      <div class="fv-help-block">
        {{ message }}
      </div>
    </div>
  </ng-container>
</ng-template>
