<div class="card card-custom bg-gray-100 gutter-b card-stretch">
  <!--begin::Header-->
  <div class="card-header border-0 bg-primary py-5">
    <h3 class="card-title font-weight-bolder text-white">Dashboard Counts</h3>
  </div>
  <!--end::Header-->
  <!--begin::Body-->
  <div class="card-body p-0 position-relative overflow-hidden">
    <!--begin::Chart-->
    <div
      id="kt_mixed_widget_2_chart"
      class="card-rounded-bottom bg-primary"
      style="height: 100px"
    ></div>
    <!--end::Chart-->
    <!--begin::Stats-->
    <div class="card-spacer mt-n25">
      <!--begin::Row-->
      <div class="row m-0">
        <div class="col bg-white px-6 py-8 rounded-xl mr-7 mb-7" routerLink="/user" role="button">
          <div class="font-weight-bold text-muted font-size-sm">
            <span class="text-dark-75 font-size-h2 font-weight-bolder mr-2"
              >67</span
            >
          </div>
          <a  class="text-dark-75 font-weight-bold font-size-h6"
            >User</a
          >
        </div>

        <div class="col bg-white px-6 py-8 rounded-xl mr-7 mb-7" routerLink="/category/list" role="button">
          <div class="font-weight-bold text-muted font-size-sm">
            <span class="text-dark-75 font-size-h2 font-weight-bolder mr-2"
              >67</span
            >
          </div>
          <a  class="text-dark-75 font-weight-bold font-size-h6"
            >Category</a
          >
        </div>
        <div class="col bg-white px-6 py-8 rounded-xl mr-7 mb-7" routerLink="/article" role="button">
          <div class="font-weight-bold text-muted font-size-sm">
            <span class="text-dark-75 font-size-h2 font-weight-bolder mr-2"
              >67</span
            >
          </div>
          <a  class="text-dark-75 font-weight-bold font-size-h6"
            >Articles</a
          >
        </div>
        <div class="col bg-white px-6 py-8 rounded-xl mr-7 mb-7" routerLink="/digital-magazine/list" role="button">
          <div class="font-weight-bold text-muted font-size-sm">
            <span class="text-dark-75 font-size-h2 font-weight-bolder mr-2"
              >67</span
            >
          </div>
          <a  class="text-dark-75 font-weight-bold font-size-h6"
            >Digital Magazine
          </a>
        </div>
      </div>
      <!--end::Row-->
      <!--begin::Row-->
      <div class="row m-0">
        <div class="col bg-white px-6 py-8 rounded-xl mr-7 mb-7" routerLink="/mpdirectory/hospital" role="button">
          <div class="font-weight-bold text-muted font-size-sm">
            <span class="text-dark-75 font-size-h2 font-weight-bolder mr-2"
              >67</span
            >
          </div>
          <a  class="text-dark-75 font-weight-bold font-size-h6"
            >Hospital
          </a>
        </div>
        <div class="col bg-white px-6 py-8 rounded-xl mr-7 mb-7" routerLink="/mpdirectory/doctor" role="button">
          <div class="font-weight-bold text-muted font-size-sm">
            <span class="text-dark-75 font-size-h2 font-weight-bolder mr-2"
              >67</span
            >
          </div>
          <a  class="text-dark-75 font-weight-bold font-size-h6"
            >Doctor</a
          >
        </div>
        <div class="col bg-white px-6 py-8 rounded-xl mr-7 mb-7" routerLink="/mpdirectory/clinics" role="button">
          <div class="font-weight-bold text-muted font-size-sm">
            <span class="text-dark-75 font-size-h2 font-weight-bolder mr-2"
              >67</span
            >
          </div>
          <a  class="text-dark-75 font-weight-bold font-size-h6"
            >Medical Clinics</a
          >
        </div>
        <div class="col bg-white px-6 py-8 rounded-xl mr-7 mb-7" routerLink="/mpdirectory/midwifes" role="button">
          <div class="font-weight-bold text-muted font-size-sm">
            <span class="text-dark-75 font-size-h2 font-weight-bolder mr-2"
              >67</span
            >
          </div>
          <a  class="text-dark-75 font-weight-bold font-size-h6"
            >MidWifes</a
          >
        </div>
      </div>
      <!--end::Row-->
    </div>
    <!--end::Stats-->
  </div>
  <!--end::Body-->
</div>
