<div class="card card-custom bg-gray-100 gutter-b card-stretch">
  <!--begin::Header-->
  <div class="card-header border-0 bg-header py-5">
    <h3 class="card-title font-weight-bolder text-white">Dashboard Counts</h3>
  </div>
  <!--end::Header-->
  <!--begin::Body-->
  <div class="card-body p-0 position-relative overflow-hidden">
    <!--begin::Chart-->
    <div
      id="kt_mixed_widget_2_chart"
      class="card-rounded-bottom"
      style="height: 100px"
    ></div>
    <!--end::Chart-->
    <!--begin::Stats-->
    <div class="card-spacer mt-n25">
      <!--begin::Row-->
      <div class="row m-0">
        <div class="col bg-primary text-white px-6 py-8 rounded-xl mr-7 mb-7" routerLink="/user" role="button">
          <div class="font-weight-bold text-muted font-size-sm">
            <span class="text-white  font-size-h2 font-weight-bolder mr-2"
              >{{apiData.count.usersCount}}</span
            >
          </div>
          <a  class="text-white  font-weight-bold font-size-h6"
            >User</a
          >
        </div>

        <div class="col bg-primary px-6 py-8 rounded-xl mr-7 mb-7" routerLink="/category/list" role="button">
          <div class="font-weight-bold text-muted font-size-sm">
            <span class="text-white font-size-h2 font-weight-bolder mr-2"
              >{{apiData.count.categoriesCount}}</span
            >
          </div>
          <a  class="text-white font-weight-bold font-size-h6"
            >Category</a
          >
        </div>
        <div class="col bg-primary px-6 py-8 rounded-xl mr-7 mb-7" routerLink="/article" role="button">
          <div class="font-weight-bold text-muted font-size-sm">
            <span class="text-white font-size-h2 font-weight-bolder mr-2"
              >{{apiData.count.articlesCount}}</span
            >
          </div>
          <a  class="text-white font-weight-bold font-size-h6"
            >Articles</a
          >
        </div>
      </div>
      <!--end::Row-->
      <!--begin::Row-->
      <div class="row m-0">
        <div class="col bg-danger px-6 py-8 rounded-xl mr-7 mb-7" routerLink="/mpdirectory/hospital" role="button">
          <div class="font-weight-bold text-muted font-size-sm">
            <span class="text-white font-size-h2 font-weight-bolder mr-2"
              >{{apiData.count.hospitalsCount}}</span
            >
          </div>
          <a  class="text-white font-weight-bold font-size-h6"
            >Hospital
          </a>
        </div>
        <div class="col bg-danger px-6 py-8 rounded-xl mr-7 mb-7" routerLink="/mpdirectory/doctor" role="button">
          <div class="font-weight-bold text-muted font-size-sm">
            <span class="text-white font-size-h2 font-weight-bolder mr-2"
              >{{apiData.count.doctorsCount}}</span
            >
          </div>
          <a  class="text-white font-weight-bold font-size-h6"
            >Doctor</a
          >
        </div>
        <div class="col bg-danger px-6 py-8 rounded-xl mr-7 mb-7" routerLink="/mpdirectory/clinics" role="button">
          <div class="font-weight-bold text-muted font-size-sm">
            <span class="text-white font-size-h2 font-weight-bolder mr-2"
              >{{apiData.count.clinicsCount}}</span
            >
          </div>
          <a  class="text-white font-weight-bold font-size-h6"
            >Medical Clinics</a
          >
        </div>
      </div>
      <!--end::Row-->
           <!--begin::Row-->
           <div class="row m-0">
            <div class="col bg-warning px-6 py-8 rounded-xl mr-7 mb-7" routerLink="/mpdirectory/hospital" role="button">
              <div class="font-weight-bold text-muted font-size-sm">
                <span class="text-white font-size-h2 font-weight-bolder mr-2"
                  >{{apiData.count.magazinesCount}}</span
                >
              </div>
              <a  class="text-white font-weight-bold font-size-h6"
                >Magazines
              </a>
            </div>
            <div class="col bg-warning px-6 py-8 rounded-xl mr-7 mb-7" routerLink="/mpdirectory/doctor" role="button">
              <div class="font-weight-bold text-muted font-size-sm">
                <span class="text-white font-size-h2 font-weight-bolder mr-2"
                  >{{apiData.count.midwifesCount}}</span
                >
              </div>
              <a  class="text-white font-weight-bold font-size-h6"
                >Midwives</a
              >
            </div>
            <div class="col bg-warning px-6 py-8 rounded-xl mr-7 mb-7" routerLink="/mpdirectory/clinics" role="button">
              <div class="font-weight-bold text-muted font-size-sm">
                <span class="text-white font-size-h2 font-weight-bolder mr-2"
                  >{{apiData.count.pharmaciesCount}}</span
                >
              </div>
              <a  class="text-white font-weight-bold font-size-h6"
                >Pharmacies</a
              >
            </div>
          </div>
          <!--end::Row--> 
    </div>
    <!--end::Stats-->
  </div>
  <!--end::Body-->
</div>
