.text-right {
    text-align: right !important;
    padding: 10px;
    font-size: 14px;
  }
  .product-text {
    padding: 10px;
    font-size: 19px;
  }
  .remove-text {
    padding: 10px;
    font-size: 12px;
    color: rgb(243, 13, 13);
  }